/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W        &kp F                 &kp R          &kp B    &kp J  &kp L             &kp U              &kp Y        &mt ESC TAB  &none
&none  &kp A  &mt LCTRL R  &mt LALT S            &mt LCMD T     &kp G    &kp M  &mt LCMD N        &mt LALT E         &mt LCTRL I  &kp O        &none
&none  &kp Z  &kp X        &kp C                 &kp D          &kp V    &kp K  &kp H             &kp COMMA          &kp DOT      &kp ENTER    &none
                           &sk LS(LA(LC(LCMD)))  &kp BACKSPACE  &sl 2    &sl 1  &mt LSHIFT SPACE  &sk LS(LA(LCTRL))
            >;
        };

        symbol {
            bindings = <
&none  &kp EXCL   &kp AT          &kp HASH        &kp DOLLAR     &kp PERCENT    &kp PLUS   &kp EQUAL       &kp QUESTION           &kp PIPE                 &kp BACKSLASH  &trans
&none  &kp CARET  &mt LCTRL AMPS  &mt LALT ASTRK  &mt LCMD LPAR  &kp RPAR       &kp UNDER  &mt LCMD MINUS  &mt LALT SINGLE_QUOTE  &mt LCTRL DOUBLE_QUOTES  &kp SLASH      &trans
&none  &kp LBKT   &kp RBKT        &kp LBRC        &kp RBRC       &to 0          &kp SEMI   &kp COLON       &kp GRAVE              &kp TILDE                &kp ENTER      &trans
                                  &trans          &trans         &to 2          &trans     &trans          &trans
            >;
        };

        number {
            bindings = <
&none  &kp N1  &kp N2        &kp N3       &kp N4       &kp N5    &none     &none     &none   &none      &none      &none
&none  &kp N6  &mt LCTRL N7  &mt LALT N8  &mt LCMD N9  &kp N0    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none      &none
&none  &none   &none         &none        &none        &to 0     &none     &none     &none   &none      &kp ENTER  &none
                             &trans       &trans       &trans    &to 1     &trans    &trans
            >;
        };
    };
};
