#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    hold-while-undecided;
    require-prior-idle-ms = <125>;
    flavor = "balanced";
    quick-tap-ms = <50>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_with_home_row_mods {
            bindings = <
&kp Q        &kp W        &kp E       &kp R          &kp T            &kp Y      &kp U       &kp I           &kp O        &kp P
&mt LSHFT A  &mt LCTRL S  &mt LALT D  &mt LGUI F     &kp G            &kp H      &mt LGUI J  &mt LEFT_ALT K  &mt LCTRL L  &mt LSHFT SQT
&kp Z        &kp X        &kp C       &kp V          &kp B            &kp N      &kp M       &kp COMMA       &kp DOT      &kp ENTER
                                      &kp BACKSPACE  &kp BACKSPACE    &kp SPACE  &kp SPACE
            >;
        };
    };
};
