keymap {
		compatible = "zmk,keymap";
		
		default_with_home_row_mods {
			bindings = <
			&kp Q 		 &kp W       &kp E        &kp R       &kp T           &kp Y        &kp U       &kp I       &kp O       &kp P
			&ml LCTRL A  &ml LALT S  &ml LSHFT D  &ml LGUI F  &ml HYPER G     &mr HYPER H  &mr RGUI J  &mr RSHFT K &mr RALT L  &mr RCTRL SQT
			&ml GLOBE Z  &kp X       &kp C        &blt MOU V  &kp B           &kp N        &blt NUM M  &kp COMMA   &kp DOT     &kp SEMI
			                                      &lc NAV     &shft_cw        &kp SPACE    &lc SYM
			>;
		};
}